<ion-content padding>
	<nz-affix [nzOffsetTop]="40">
		<nz-dropdown>
		<button nz-button nz-dropdown [nzSize]="'small'" [nzType]="'primary'"><span>Меню</span></button>
	      <ul nz-menu>
	        <li nz-menu-item>
	          <a (click)="restart()">Новая игра</a>
	        </li>
	        <li nz-menu-item>
	          <a (click)="showModal()">Правила</a>
	        </li>
	      </ul>	
	      </nz-dropdown>	
  	</nz-affix>

  	<nz-modal [(nzVisible)]="isVisible" [nzStyle]="{ top: '20px' }" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
  		<ng-template #modalTitle>
  			Правила игры
  		</ng-template>
  		<ng-template #modalContent>
  			<p>В каждом раунде появляется плитка номинала «2» (с вероятностью 90,9090909 %) или «4» (с вероятностью 9,09090909 %)</p>
  			<p>Нажатием стрелки игрок может скинуть все плитки игрового поля в одну из 4 сторон. Если при сбрасывании две плитки одного номинала «налетают» одна на другую, то они слипаются в одну, номинал которой равен сумме соединившихся плиток. После каждого хода на свободной секции поля появляется новая плитка номиналом «2» или «4».</p>
  			<p>Если при нажатии кнопки местоположение плиток или их номинал не изменится, то ход не совершается.</p>
  			<p>Если в одной строчке или в одном столбце находится более двух плиток одного номинала, то при сбрасывании они начинают слипаться с той стороны, в которую были направлены. Например, находящиеся в одной строке плитки (4, 4, 4) после хода влево они превратятся в (8, 4), а после хода вправо — в (4, 8). Данная обработка неоднозначности позволяет более точно формировать стратегию игры.</p>
  			<p>За каждое соединение игровые очки увеличиваются на номинал получившейся плитки.</p>
  			<p>Игра заканчивается поражением, если после очередного хода невозможно совершить действие.</p>
  		</ng-template>
  		<ng-template #modalFooter>
  			<button nz-button nzType="default" (click)="handleCancel()">Закрыть</button>
  		</ng-template>		
  	</nz-modal>
  	
    <board></board>
</ion-content>
